
#include <physical_layouts.dtsi>


/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "LAYOUT";

        kscan = <&kscan0>;
        transform = <&default_transform>;

      keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100 1150    0       0     0     0>
            , <&key_physical_attrs 100 100  100   25       0     0     0>
            , <&key_physical_attrs 100 100  300   25       0     0     0>
            , <&key_physical_attrs 100 100 1050   25       0     0     0>
            , <&key_physical_attrs 100 100 1250   25       0     0     0>
            , <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  400   50       0     0     0>
            , <&key_physical_attrs 100 100  950   50       0     0     0>
            , <&key_physical_attrs 100 100 1350   50       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100 1150  100       0     0     0>
            , <&key_physical_attrs 100 100  100  125       0     0     0>
            , <&key_physical_attrs 100 100  300  125       0     0     0>
            , <&key_physical_attrs 100 100 1050  125       0     0     0>
            , <&key_physical_attrs 100 100 1250  125       0     0     0>
            , <&key_physical_attrs 100 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  400  150       0     0     0>
            , <&key_physical_attrs 100 100  950  150       0     0     0>
            , <&key_physical_attrs 100 100 1350  150       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100 1150  200       0     0     0>
            , <&key_physical_attrs 100 100  100  225       0     0     0>
            , <&key_physical_attrs 100 100  300  225       0     0     0>
            , <&key_physical_attrs 100 100 1050  225       0     0     0>
            , <&key_physical_attrs 100 100 1250  225       0     0     0>
            , <&key_physical_attrs 100 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  400  250       0     0     0>
            , <&key_physical_attrs 100 100  950  250       0     0     0>
            , <&key_physical_attrs 100 100 1350  250       0     0     0>
            , <&key_physical_attrs 100 100  225  350       0     0     0>
            , <&key_physical_attrs 100 100 1125  350       0     0     0>
            , <&key_physical_attrs 100 100  450  250    1600     0     0>
            , <&key_physical_attrs 100 100  600  175    2400     0     0>
            , <&key_physical_attrs 100 100  625  775 (-2400)     0     0>
            , <&key_physical_attrs 100 100  850  650 (-1600)     0     0>
            ;
    };
};
